[Unit]
Description=SOC Responder Service - suscribe a seguridad/acciones/#
After=network.target

[Service]
Type=simple
User=lopex
WorkingDirectory=/home/lopex/pi4-felix
ExecStart=/usr/bin/python3 responder.py
Restart=on-failure
StandardOutput=journal
StandardError=journal
SyslogIdentifier=soc-responder

[Install]
WantedBy=multi-user.target
